
.label{
    font-weight: bold;
    font-size:14px;
}
.colon{
    text-align: right;
}
.view-report{
    color:#689F38;
    position: relative;
    right: -42px;
}
.search{
    background:#689F38!important;
    margin-right: 10px;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    padding: 0px 25px;
    float: right
}

.view{
    background:#689F38!important;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    /* width: 100%; */
    padding: 0px 25px; 
    width: 100%;
}


.patient-report-box {
    height: 230px;
    margin-bottom: 0px;
}
