.labl {
    width: 40%;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.coln {
    width: 10%;
    color: #000;
}

.desc {
    width: 40%;
}

.full-labl {
    width: 19%;
    color: #000;
    font-weight: 500;
}

.full-coln {
    width: 5%;
    color: #000;
}

.full-desc {
    width: 76%;
}

.description {
    cursor: pointer;
}