<section class="lab">
    <div class="lab-page">
        <div class="section-title">
            <h2>Lab Test</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
    <div class="col-md-11 lab-box">
        <div class="report-generate">
            <div class="ml-auto mr-auto userBox">
                <!-- <div class="select">
                            <select class="select-text" required>
                            <option value="" disabled selected></option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                            <label class="select-label">User List</label>
                        </div> -->
                <div class="row">
                    <!-- <label for="">Bill Id</label> -->
                    <div class="col-md-1"></div>
                    <div class="col-md-2 form-group">
                        <div class="material ">
                            <label for="" class="bill-id">Search Test </label>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="material">
                            <div class="select">
                                <select class="select-text" required>
                                    <option value="" disabled selected></option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                                <label class="select-label">Center List</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <div class="material">
                            <input type="text" required [(ngModel)]="search">
                            <span class="borda"></span>
                            <label>Diagnosis Name</label>
                        </div>
                    </div>
                    <div class="col-md-2 form-group">
                        <button mat-raised-button class="search" (click)="searchKey()">Search</button>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb" *ngFor="let item of rateListArr">
                <div class="patient-report-box">
                    <div class="row">
                        <div class="col-md-12">
                            <label *ngIf="item?.service_key === '' "> N/A </label>
                            <label class="overflow-tip test"><span>{{item?.service_name}}</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="label">Report:</label>
                        </div>
                        <div class="col-md-9">
                            <label class="desc" *ngIf="item?.ReportTimeInDays === '' ">N/A </label>
                            <label class="desc">{{item?.ReportTimeInDays}} Days</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="label">Price:</label>
                        </div>
                        <div class="col-md-9">
                            <label class="desc" *ngIf="item?.price === '' ">N/A </label>
                            <label class="desc">Rs.{{item?.price}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label class="label">Test</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label">Key:</label>
                        </div>
                        <div class="col-md-10">
                            <label class="desc" *ngIf="item?.service_key === '' ">N/A </label>
                            <label class="overflow-tip test"><span>{{item?.service_key}}</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="label">Preparation:</label>
                        </div>
                        <div class="col-md-7">
                            <label class="desc" *ngIf="item?.service_preperation === '' ">N/A </label>
                            <label class="overflow-tip test"><span>{{item?.service_preperation}}</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:center">
                            <a><button mat-raised-button class="profile" (click)="book(item)">Book Now</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>