.mat-expansion-panel{
    margin-bottom: 15px;
}
.section-title{
    text-align: center;
    /* margin-bottom: 40px; */
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    color: #000!important;
}
.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: #000!important;
}