<section class="faq">
  <div class="faq-page">
      <div class="section-title">
          <h2>FAQ</h2>
          <div class="divider mx-auto my-3"></div>
      </div>
  </div>
      <div class="faq-box">
           <div class="row">
             <div class="col-md-12 col-xs-12">
              <mat-accordion *ngFor="let item of faqArray">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{item.FaqName}}
                        </mat-panel-title>
                        <!-- <mat-panel-description>
                      
                    </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    {{item.FaqDesc}}
                </mat-expansion-panel>
            </mat-accordion>
             </div>
           </div>
      </div>
</section>