mat-expansion-panel{
    margin-bottom: 18px;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    color: #000!important;
}
.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: #000!important;
}
.quote{
    font-weight: bold;
    margin-bottom: 5px!important;
}