<section class="b2b">
    <div class="b2b-page">
        <div class="section-title">
            <h2>B2B</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
        <div class="b2b-box">
             <div class="row">
               <div class="col-md-12 col-xs-12">
                <mat-accordion *ngFor="let item of b2bList">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{item.B2BName}}
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                          
                        </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <section innerHTML='{{item.B2BDesc}}'></section>
                    </mat-expansion-panel>
                </mat-accordion>
               </div>
             </div>
        </div>
  </section>