.app {
  /* background-color: #edeef0; */
  
  display: flex;
}


.sidebar {
  background-color: #689F38;
  height: 100vh;
  width: 48px;
  overflow: hidden;
  
  
  /* top: 18%; */
}
.fixed{
  position: fixed;
  z-index: 1;
  top: 0;
}
.expanded {
  width: 300px;
}

.sidebar-item {
  cursor: pointer;
  padding: 3px 15px 3px 15px;
  color: #fff;
  height: 35px;
  overflow: hidden;
  font-size: 14px;
}
.sidebar-item a {
  text-decoration: none;
  color: #fff;
}
.sidebar-item .icon {
  font-size: 20px;
  margin-right: 15px;
  position: relative;
  top: 5px;
  max-width: 15px;
  max-height: 15px;
  
}
.sidebar-item.active {
  background-color: #223a66;
}

.sidebar-item:hover {
  background-color: #fff;
  color: #689F38;
  
}

.hand {
  cursor: pointer;
}

.hide {
  font-size: 0;
  visibility: hidden;
}

.page-content {
  position: relative;
  padding: 10px 10px 10px 20px;
  margin-left: 0%;
}
.page{
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  min-height: 500px;
}