.side-nav li {
    list-style-type: none;
    background: #fff;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: #2d9436;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 10px -1px rgb(0 0 0 / 20%);
    font-size: 15px;
    width: 284px;
}
.side-nav{
    padding: 0px 10px;
}
.sideNav {
    /* margin-top: 20px; */
    border: 1px solid #ccc;
    padding: 20px 0px 4px 0px;
    box-shadow: 0 1px 10px -1px rgb(0 0 0 / 20%);
    border-radius: 8px;
}
.section-title{
    text-align: center;
    /* margin-bottom: 40px; */
}
