<section class="service-page">
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Enquiry Form</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="form_wrapper">
            <form>
                <div class="container register">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="material">
                                <input type="text" required>
                                <span class="borda"></span>
                                <label>First Name</label>
                            </div>

                        </div>
                        <div class="col-md-6 form-group">
                            <div class="material">
                                <input type="text" required>
                                <span class="borda"></span>
                                <label>Last Name</label>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="material">
                                <input type="text" required>
                                <span class="borda"></span>
                                <label>Mobile No.</label>
                            </div>

                        </div>
                        <div class="col-md-6 form-group">
                            <div class="material">
                                <input type="email" required>
                                <span class="borda"></span>
                                <label>Email ID</label>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="material">
                                <input type="text" required>
                                <span class="borda"></span>
                                <label>Who Are You ?</label>
                            </div>


                        </div>
                    </div>
                    <div class="form-group">
                        <div class="material-textarea">
                            <textarea type="text" required></textarea>
                            <div class="borda"></div>
                            <label>Comment</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="fileUpload">
                                <button mat-raised-button class="fileUploader" (click)="onClick($event)">
                                <mat-icon>upload</mat-icon>
                                Upload Attactchment</button>
                                <input #fileUpload type="file" class="input_fileupload--hidden" (input)="onInput($event)" (change)="onFileSelected($event)" [(ngModel)]="inputFileName" [accept]="accept">
                                <div *ngFor="let f of files">
                                    <span class="ml-3">{{f.name}}</span>
                                    <button mat-icon-button color="primary" [attr.title]="deleteButtonLabel?deleteButtonLabel:null" (click)="removeFile(event,f)">
                                    <mat-icon>{{deleteButtonIcon}}</mat-icon>
                                </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button class="btn btn-success btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>

    </div>

</section>