<section class="services">
    <div class="service-page">
        <div class="section-title">
            <h2>Services</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
        <div class="col-md-11 service-box">
            <div class="row">
                <div class="col-md-6 mb" *ngFor="let item of serviceList">
                    <a (click)="detailsService(item)">
                        <div class="services-box">
                            <p class="heading">{{item.title}}</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{item.image}}" class="service-img">
                                </div>
                                <div class="col-md-6">
                                    <section innerHTML='{{item.description}}'></section>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>   
            </div> 
        </div>
</section>