<section class="account">
    <div class="account-page">
        <div class="section-title">
            <h2>Change Password</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
        <div class="account-box col-md-4">
                <div class="change-password">
                <form [formGroup]="confirm" (ngSubmit)="confirmPass()">
                    <div class="container login">
                        <div class="form-group">
                            <div class="material">
                                <input type="password" formControlName="Password" required>
                                <span class="borda"></span>
                                <label>New Passord</label>
                            </div>
                            <div *ngIf="getControl.Password.touched && getControl.Password.invalid" class="text-danger">
                                <div *ngIf="getControl.Password.errors.required">Password is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="material">
                                <input type="password" formControlName="Conpassword" required>
                                <span class="borda"></span>
                                <label>Confirm Password</label>
                            </div>
                            <div *ngIf="getControl.Conpassword.touched && getControl.Conpassword.invalid" class="text-danger">
                                <div *ngIf="getControl.Conpassword.errors.required">Confirm Password is required.</div>
                            </div>
                        </div>
                        <button mat-raised-button class="buttons" type="submit" [disabled]="confirm.invalid">Submit</button>
                        
                    </div>
                </form>
            </div>
        </div>
</section>