<section class="appointment">
    <div class="appointment-page">
        <div class="section-title">
            <h2>Book Appointment</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
        <div class="appointment-box">
            <div class="row mb">
                <div class="col-md-12">
                    <div class="">
                        <!-- <form> -->
                        <div class="row">
                            <div class="col-md-2">
                                <!-- <select name="" id="" [(ngModel)]="centerId">
                                        <option value="">Select Branches</option>
                                        <option *ngFor="let item of branchist" value="{{item.center_id}}">{{item.center_name}}</option>
                                    </select> -->
                                <div class="select">
                                    <select class="select-text" required [(ngModel)]="centerId">
                                            <option value=""></option>
                                        <option *ngFor="let item of branchist" value="{{item.center_id}}">{{item.center_name}}</option>
                                        </select>
                                    <label class="select-label">Branch</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- <select name="" id="" [(ngModel)]="areaId">
                                        <option value="">Select Area</option>
                                        <option *ngFor="let item of areaList" value="{{item.area_id}}">{{item.Area}}</option>
                                    </select> -->
                                <div class="select">
                                    <select class="select-text" required [(ngModel)]="areaId">
                                            <option value="" disabled selected></option>
                                            <option *ngFor="let item of areaList" value="{{item.area_id}}">{{item.Area}}</option>
                                        </select>
                                    <label class="select-label">Area</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <select name="" id="" [(ngModel)]="specializationId">
                                        <option value="">Select Department</option>
                                        <option *ngFor="let item of DepartmentSpecialityList" value="{{item.specialization_id}}">{{item.specialization}}</option>
                                    </select> -->
                                <div class="select">
                                    <select class="select-text" required [(ngModel)]="specializationId">
                                            <option value="" disabled selected></option>
                                            <option *ngFor="let item of DepartmentSpecialityList" value="{{item.specialization_id}}">{{item.specialization}}</option>
                                        </select>
                                    <label class="select-label">Department</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- <input type="text" placeholder="Enter Doctor Name" [(ngModel)]="doctorName"> -->
                                <div class="material">
                                    <input type="text" required [(ngModel)]="doctorName">
                                    <span class="borda"></span>
                                    <label>Doctor Name</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="pure-material-checkbox">
                                        <input type="checkbox">
                                        <span>Home Collection</span>
                                      </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-2" style="text-align:center">
                                <button mat-raised-button class="search" (click)="doctorSearch()">Search</button>
                                <button mat-raised-button class="refresh" (click)="reset()">Reset</button>
                            </div>
                        </div>
                        <div class="form_wrapper" *ngIf="doctorList.length === 0"> No Data Found </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let item of doctorList">
                    <div class="doctor-box">
                        <img *ngIf="item.DocPicture !== null" src="{{item.DocPicture}}" class="doctor" />
                        <img *ngIf="item.DocPicture === null" src="https://lh3.googleusercontent.com/proxy/to2a_5KhKQ0rdZuLhZwQSjGsyfjAihF43FSsGV4gfIdBI63qzr4ettCmOJOx-G0RcIP27jYRvY57XjvN2c3lPVxsm23BEg" class="doctor" />
                        <p class="heading">{{item.doctor_name}}</p>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>business_center</mat-icon>
                            </div>
                            <div class="col-md-10">
                               <p> {{item.specialization}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>school</mat-icon>
                            </div>
                            <div class="col-md-10">
                                <p>{{item.Designation}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>place</mat-icon>
                            </div>
                            <div class="col-md-10">
                                <p>{{item.Area}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>payments</mat-icon>
                            </div>
                            <div class="col-md-10">
                                <p>{{item.Fees}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-3" style="text-align:center">
                                <!-- <a routerLink="/doctor-details"> -->
                                <button mat-raised-button class="profile" (click)="viewProfile(item)">View Profile</button>
                                <!-- </a> -->
                                <a routerLink="/appointment"><button mat-raised-button class="profile">Book Appointment</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->
             </div>
        </div>
</section>