.doctoList{
    background-color: #f4f9fc;
    padding: 50px;
}
.form_wrapper{
    width:100%;
}
.buttons {
    display:block;
    margin: 0px auto;
}
.search{
    background:#2d9436;
    margin-right: 10px;
    border:none;
    color:#fff;
    border-radius: 5px;
    padding: 0px 25px;
}
.refresh{
    background-color: #dc1511;
    border:none;
    color:#fff;
    border-radius: 5px;
    padding: 0px 30px;
}
.heading{
    color:#000;
    font-size: 18px;
}
.doctor-box{
    height: 315px;
    color:#000;
}
.doctor-box .mat-icon{
    color:#2d9436;
}
.doctor-box p{
    font-size: 14px;
    margin-bottom: 0px;
}

