
.label{
    font-weight: bold;
    font-size:13px;
}
.colon{
    text-align: right;
}
.view-report{
    color:#689F38;
    position: relative;
    right: -42px;
}
.search{
    background:#689F38!important;
    margin-right: 10px;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    padding: 0px 25px!important;
    float: right;
    margin-top: 4px;
}
.bill-id{
    margin-top: 9px;
}
.view{
    background:#689F38!important;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    /* width: 100%; */
    padding: 0px 25px; 
    width: 100%;
}

.heading{
    margin-bottom: 2px;
}
.patient-email{
    text-align: center;
    font-weight: bold;
}

.lc {
    -webkit-line-clamp: 1;
}
.patient-report-box{
    height:125px;
}
.view1{
    background:#c9c9c9!important;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    /* width: 100%; */
    padding: 0px 25px; 
    width: 100%;
}
.zoom{
    display:inline-block;
    border:0;
    height:80px ;
    width:80px;
    margin: 5px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
    border:1px solid #000000;
    /* padding: 3px; */
}
.zoom:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 10000;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(4.8);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(4.8);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(4.8);
    transition: all 200ms ease-in;
    transform: scale(4.8);
}
.tabl{
    font-size: 12px;
}
.tabl thead {
    background-color: #689F38;
    color: #FDFDFD;
  }
  .tabl tbody tr {
    line-height: 20px;
  }
  .tabl thead tr {
    line-height: 20px;
  }
  