<section class="service-page">
<div class="container">
  <div class="service">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Neurology</h2>
          <div class="divider mx-auto my-4"></div>
         </div>
      </div>
    </div>
      <mat-accordion>
         <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Diagnostic Service - EEG
              </mat-panel-title>
              <!-- <mat-panel-description>
                
              </mat-panel-description> -->
            </mat-expansion-panel-header>
           <div class="row">
               <div class="col-md-4">
                   <img src="assets/img/xray.jpg" class="service-img">
               </div>
               <div class="col-md-8">
                   <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.

                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12">
                   <p class="heading">Our Facilities</p>
                   <ul class="Facilities">
                       <li>All views EEG reports (AP/Lateral/Oblique)</li>
                       <li>Latest technology instruments from Siemens and Allengers.</li>
                       <li><span class="text-heading">EEG:</span> We bring to you highly accurate EEG images printed instantly and delivered to you within a couple of hours.</li>
                      <li><span class="text-heading">Hysterosalpingogram (HSG):</span> Our skilled staff helps patients to acquire detailed report of their uterine cavity.</li>
                      <li><span class="text-heading">Orthopantomogram (OPG):</span> Also known as Dental EEG, OPG reports a two dimensional view of the ear to ear half circle of the upper and lower jaws.</li>
                      <li>X-ray tests done for all body parts including spine, shoulder blades, chest, hand, leg, soft tissue and more.</li>
                  </ul>
               </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                  <p class="heading">Available Branches</p>
                  <ul class="branches">
                      <li><mat-icon class="location-icon">location_on</mat-icon>Dum Dum</li>
                      <li><mat-icon class="location-icon">location_on</mat-icon>Lake Town</li>
                      <li><mat-icon class="location-icon">location_on</mat-icon>Garia</li>
                      <li><mat-icon class="location-icon">location_on</mat-icon>New Town</li>
                  </ul>
              </div>
          </div> 
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
             <mat-expansion-panel-header>
               <mat-panel-title>
                 Diagnostic Service - EMG
               </mat-panel-title>
               <!-- <mat-panel-description>
                 
               </mat-panel-description> -->
             </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/img/emg.jpg" class="service-img">
                </div>
                <div class="col-md-8">
                    <p>Electromyography (EMG) is a diagnostic procedure to assess the health of muscles and the nerve cells that control them (motor neurons). Motor neurons transmit electrical signals that cause muscles to contract. An EMG translates these signals into graphs, sounds or numerical values that a specialist interprets. An EMG uses tiny devices called electrodes to transmit or detect electrical signals. During EMG, a needle electrode inserted directly into a muscle records the electrical activity in that muscle. EMG results can reveal nerve dysfunction, muscle dysfunction or problems with nerve-to-muscle signal transmission.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="heading">Our Facilities</p>
                    <ul class="Facilities">
                        <li>We conduct all forms of Electromyography (EMG) including Repetitive Nerve Stimulation Test (RNST), H-Reflex.</li>
                        <li>Latest technology equipment used from renowned makers like RMS.</li>
                       <li>Report delivered after 3 days.</li> 
                       <li>Report generation status is notified to you through SMS alerts.</li>
                   </ul>
                </div>
            </div>
           
           </mat-expansion-panel>
         </mat-accordion>
         <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
             <mat-expansion-panel-header>
               <mat-panel-title>
                 Diagnostic Service -NCV
               </mat-panel-title>
               <!-- <mat-panel-description>
                 
               </mat-panel-description> -->
             </mat-expansion-panel-header>
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/img/ncv.jpg" class="service-img">
                </div>
                <div class="col-md-8">
                    <p>Nerve Conduction Velocity (NCV) study, another part of an EMG, uses electrodes taped to the skin (surface electrodes) to measure the speed and strength of signals traveling between two or more points.
                      An NCV uses tiny devices called electrodes to transmit or detect electrical signals. During EMG, a needle electrode inserted directly into a muscle records the electrical activity in that muscle. NCV results can reveal nerve dysfunction, muscle dysfunction or problems with nerve-to-muscle signal transmission.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="heading">Our Facilities</p>
                    <ul class="Facilities">
                        <li>Latest technology equipment used from renowned makers like RMS.</li>
                        <li>Report generation status is notified to you through SMS alerts.</li>
                        <li>Report delivered after 3 days.</li>
                   </ul>
                </div>
            </div>
           
           </mat-expansion-panel>
         </mat-accordion>
  </div>
</div>
</section>