<section class="about-us">
    <div class="about-page">
        <div class="section-title">
            <h2>Our Management Team</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
        <div class="col-md-11 about-box">
            <div class="row mb">
                  <div class="col-md-6">
                    <div class="management-team-box">
                        <p class="heading">Mr. Gopal Agarwal</p>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Gopal Agarwal a graduate  from MIT university, followed by Masters in Electrical Engineering from Texas University, worked as a senior consultant in Qualcomm Inc. (San Diego, USA) for more than a decade before joining RB Diagnostics.  </p>
                                <p>Gopal brings in knowledge of unique understanding of medical equipments and the experience of a global operations head .He leads RB Diagnostics technological and Process wing. A man of details, team player, natural leader he has across the board set benchmarks for the industry to follow. His choice of equipments and brands for lab has been the key source of RB Quality Assurance.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="management-team-box">
                        <p class="heading">Mr. Deepak Agarwal</p>
                        <div class="row">
                            <div class="col-md-12">
                                <p>After completing Bachelors from India majoring in Economics and Mathematics, Deepak did Masters in Information Sciences from the University of Houston and a Masters in Computer Sciences from SDSU, California. After 6 Years in the telecom industry at California in united he joined RB diagnostic.</p>
                                <p>His expertise of IT and networking along with automated process control through software has been the key to RB diagnostic innovative solutions. He also heads the support division medical care at RB.</p>
                            </div>
                        </div>
                    </div>
                  </div>
            </div> 
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="management-team-box">
                        <p class="heading">Mr. Abhinaya Goenka</p>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Abhinaya Goenka the youngest on board completed his schooling from Delhi and then moved to Bangalore for his Bachelor's in management from Christ College.</p>
                                <p>His qualification and expertise for channelizing human resource is the strength of RB 200+ strong and committed team he also looks after the finance and channel development divison at RB.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
</section>