.search{
    background:#689F38!important;
    margin-right: 10px;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    padding: 0px 25px;
    float: right;
}

.userBox {
    width: 700px;
}

table {
    width: 100%;
}
.tblheader{
    background-color: #689F38;
    
}
.tblheader th{
    color: #FDFDFD!important;
    font-size: 15px!important;
}
.mat-row:nth-child(odd) {
    background-color: #DDD;
}

/* .mat-row:nth-child(even) {
    background-color: #DDD;
} */