<div class="centers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Our Centers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <p class="heading">Lake Town</p>
                        <ul class="center-inner">
                            <li>P-713 Block A, Lake Town, Kolkata-700089
                                Landmark- Jaya Multiplex Laketown</li>
                            <li><span>Phone</span> (033) 4085 4010 / 3382 3310</li>
                            <li><span>Mobile</span> +91 98300 65859</li>
                            <li><span>Email</span> laketown@rbdiagnostics.com</li>
                        </ul>
                        
                      </div>
                      <div class="flip-box-back">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.2987937638263!2d88.40113451460464!3d22.605314837466576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275fddb4edc83%3A0xc767c47fc34c4ade!2sRB+Diagnostic+Laketown!5e0!3m2!1sen!2sin!4v1559288467541!5m2!1sen!2sin" frameborder="0" style="border: 0" allowfullscreen=""></iframe>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <p class="heading">Saltlake</p>
                        <ul class="center-inner">
                            <li>CD 85, CD Block, Sector 1, Bidhannagar,
                                Kolkata, West Bengal 700064</li>
                            <li><span>Phone</span> (033) 4085 4020 / 3382 3320</li>
                            <li><span>Mobile</span> +91 96747 35463</li>
                            <li><span>Email</span> saltlake@rbdiagnostics.com</li>
                        </ul>
                      </div>
                      <div class="flip-box-back">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.649371347091!2d88.40971651460438!3d22.59221363794479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275e3b7a0ee93%3A0x54f432f9bd326426!2sRB+Diagnostic+Saltlake!5e0!3m2!1sen!2sin!4v1559288407693!5m2!1sen!2sin"  frameborder="0" style="border: 0" allowfullscreen=""></iframe>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <p class="heading">Topsia</p>
                    <ul class="center-inner">
                        <li>9/2A Topsia road, Puspanjali Chambers, Gobra,
                          Kolkata, West Bengal 700046</li>
                        <li><span>Phone</span> (033) 4085 4050 / 3382 3350</li>
                        <li><span>Mobile</span> +91 76878 78838</li>
                        <li><span>Email</span> topsia@rbdiagnostics.com</li>
                    </ul>
                  </div>
                  <div class="flip-box-back">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.002632544881!2d88.38117241460355!3d22.541574139790253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0276be115fdadb%3A0x8a7aac1d294c43cc!2sRB+Diagnostic+Topsia!5e0!3m2!1sen!2sin!4v1559288352485!5m2!1sen!2sin" frameborder="0" style="border: 0" allowfullscreen=""></iframe>
                  </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-12">
              <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front">
                      <p class="heading">Kankurgachi</p>
                      <ul class="center-inner">
                          <li>194 A, Maniktala Main Rd, Scheme VI-M, Phool Bagan, Kankurgachi,
                            Kolkata, West Bengal 700054</li>
                          <li><span>Phone</span> (033) 4085 4030/31, 3382 3330/31</li>
                          <li><span>Mobile</span> +91 70446 69999</li>
                          <li><span>Email</span> kkg@rbdiagnostics.com</li>
                      </ul>
                    </div>
                    <div class="flip-box-back">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d460.4976720552913!2d88.38957796819288!3d22.579799857481284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02766e59a5640d%3A0x925b72d4ae6c44fb!2sRB+Diagnostic+Kankurgachi!5e0!3m2!1sen!2sin!4v1559288611117!5m2!1sen!2sin"  frameborder="0" style="border: 0" allowfullscreen=""></iframe>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front">
                      <p class="heading">Andul/Bakulatala</p>
                      <ul class="center-inner">
                          <li>3A Satyen Bose Road, Shalimar Apartment, Bakultala,
                            Howrah, West Bengal 711109</li>
                          <li><span>Phone</span> (033) 4085 4060/ 3382 3360</li>
                          <li><span>Mobile</span> +91 98367 01888</li>
                          <li><span>Email</span> andul@rbdiagnostics.com</li>
                      </ul>
                    </div>
                    <div class="flip-box-back">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.430653367959!2d88.28478031460389!3d22.562990939010117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0279aad2eefb63%3A0xd42427e598546a28!2sRB+Diagnostic+Bakultala!5e0!3m2!1sen!2sin!4v1559288118522!5m2!1sen!2sin" frameborder="0" style="border: 0" allowfullscreen=""></iframe>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <p class="heading">Liluah</p>
                  <ul class="center-inner">
                      <li>269 G T Road Prithvi Building, Near, Big Bazaar,
                        Howrah, West Bengal 711204</li>
                      <li><span>Phone</span> (033) 4085 4080/ 3382 3380</li>
                      <li><span>Mobile</span> +91 90739 88666</li>
                      <li><span>Email</span> liluah@rbdiagnostics.com</li>
                  </ul>
                </div>
                <div class="flip-box-back">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.880623751038!2d88.34704961496041!3d22.620932585157927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89da124142d01%3A0xe4719b90cad2d3c!2sRB+Diagnostic+Liluah!5e0!3m2!1sen!2sin!4v1559287062377!5m2!1sen!2sin" frameborder="0" style="border: 0" allowfullscreen=""></iframe>
                </div>
              </div>
          </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <p class="heading">Howrah AC Market</p>
                    <ul class="center-inner">
                        <li>2, Kings Road, Gulmohar Railway Quarters,
                          Howrah, West Bengal 711101</li>
                        <li><span>Phone</span> (033) 4085 4040/ 3382 3340</li>
                        <li><span>Mobile</span> +91 90739 88328</li>
                        <!-- <li><span>Email</span> kkg@rbdiagnostics.com</li> -->
                    </ul>
                  </div>
                  <div class="flip-box-back">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.6946994776813!2d88.33600431467889!3d22.590519185173548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277ec7db0707f%3A0x63bc4e2daa7e75cd!2s2%2C%20Kings%20Road%2C%20Gulmohar%20Railway%20Quarters%2C%20Mali%20Panchghara%2C%20Howrah%2C%20West%20Bengal%20711101!5e0!3m2!1sen!2sin!4v1567405169318!5m2!1sen!2sin" frameborder="0" style="border: 0" allowfullscreen=""></iframe>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
