<section class="about-us">
    <div class="about-page">
        <div class="section-title">
            <h2>Why RB</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
        <div class="about-box">
           
              <div class="row">
                  <div class="col-md-5">
                      <div class="video">
                        <iframe src="https://www.youtube.com/embed/2emVZqlgU2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="col-md-7">
                      <div class="about-content">
                        <ul>
                            <li>One Stop location for all health needs -- Doctors Appointment, Pathology, Radiology, Dental, CT, MRI, Portable X-ray...you name it, we have it.</li>
                            <li>Home collection in Entire Kolkata from 6AM.</li>
                            <li>Health history of Upto 5 yrs with Graphs and X-ray/CT/MRI images.</li>
                            <li>Affordable health packages.</li>
                            <li>Mutiple locations in Kolkata.</li>
                            <li>Same day report home delivery or Web/mobile app access...most of the diagnostic tests.</li>
                            <li>NABL Accredited with highest standard of Quality with minimal TAT.</li>
                            <li>NABL Accredited with highest standard of Quality with minimal TAT.</li>
                            <li>Most affordable place with guaranteed value for money.</li>
                            <li>In Short.....Why go anywhere else? Which other place provides so much for so less...?</li>
                        </ul>
                      </div>
                  </div>
              </div> 
           
        </div>
</section>