<section class="package">
    <div class="package-page">
        <div class="section-title">
            <h2>Packages</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
        <div class="col-md-11 package-box">
            <div class="row">
                <div class="col-md-2 mb box" *ngFor="let item of testData">
                    <div class="packages-box">
                        <p class="heading overflow-tip test"><span>{{item?.service_name}}</span></p>
                        <div class="package-content"><i class="fa fa-inr" aria-hidden="true"> {{item?.price}}</i></div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon matTooltip="Test Preparation">flatware</mat-icon>
                            </div>
                            <div class="col-md-10" *ngIf="item?.service_preperation !== ''">
                                <p overflow-tip test><span>{{item?.service_preperation}}</span></p>
                            </div>
                            <div class="col-md-10" *ngIf="item?.service_preperation === ''">
                                N/A
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon matTooltip="Report Times(Days)">calendar_today</mat-icon>
                            </div>
                            <div class="col-md-10">
                                <p>{{item?.ReportTimeInDays}}</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 mt-2" style="text-align:center">
                                 <a *ngIf="item?.Package === 'Y'"><button mat-raised-button class="profile mb-2 more" (click)="packageDetails(item)">More Details</button></a>
                                <a><button mat-raised-button class="profile" (click)="book(item)">Book Now</button></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
</section>