
a:hover{
    color:#000;
}

.packages-box{
    color:#000;
}

.packages-box .mat-icon{
    color:#2d9436;
}
.package-content{
    text-align: center;
    margin-bottom: 10px;
}
.package-contenti {
    font-weight: bold;
    font-size: 22px;
}
