<section class="service-page">
    <div class="service">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Packages</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button mat-raised-button class="profile mb-4" style="float:right;">Compare Packages</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="packages-box">
                        <p class="heading">RBD healthy life</p>
                        <div class="package"><i class="fa fa-inr" aria-hidden="true"> 6300</i></div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>flatware</mat-icon>
                            </div>
                            <div class="col-md-10">
                                Overnight fasting required, please drink 500 ml of water before coming. Be prepare to spend 3-4 hours as this package includes Bloodwork, X-ray, USG, Echo and ECG
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>calendar_today</mat-icon>
                            </div>
                            <div class="col-md-10">
                                Daily
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>settings_input_component</mat-icon>
                            </div>
                            <div class="col-md-10">
                                27
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>health_and_safety</mat-icon>
                            </div>
                            <div class="col-md-10">
                                Checkup
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-3" style="text-align:center">
                                <a routerLink="/pages/payment"><button mat-raised-button class="profile">Pay Now</button></a>
                                <a routerLink="/pages/packages-details"><button mat-raised-button class="profile">More Details</button></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="pure-material-checkbox">
                                    <input type="checkbox">
                                    <span>Select to Compare Now</span>
                                  </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="packages-box">
                        <p class="heading">RBD healthy life (Blood & Urine)</p>
                        <div class="package"><i class="fa fa-inr" aria-hidden="true"> 3900</i></div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>flatware</mat-icon>
                            </div>
                            <div class="col-md-10">
                                Overnight fasting required,this includes all the routine blood and urine test. For this package you can also book for home collection.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>calendar_today</mat-icon>
                            </div>
                            <div class="col-md-10">
                                Same Day
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>settings_input_component</mat-icon>
                            </div>
                            <div class="col-md-10">
                                20
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>health_and_safety</mat-icon>
                            </div>
                            <div class="col-md-10">
                                Checkup
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-3" style="text-align:center">
                                <a routerLink=""><button mat-raised-button class="profile">Pay Now</button></a>
                                <a routerLink=""><button mat-raised-button class="profile">More Details</button></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="pure-material-checkbox">
                                    <input type="checkbox">
                                    <span>Select to Compare Now</span>
                                  </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="packages-box">
                        <p class="heading">Executive health check-up</p>
                        <div class="package"><i class="fa fa-inr" aria-hidden="true"> 4800</i></div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>flatware</mat-icon>
                            </div>
                            <div class="col-md-10">
                                Overnight fasting required, please drink 500 ml of water before coming. Be prepare to spend 2 hours as this package includes Bloodwork, X-ray, USG, ECHO & ECG
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>calendar_today</mat-icon>
                            </div>
                            <div class="col-md-10">
                                Daily
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>settings_input_component</mat-icon>
                            </div>
                            <div class="col-md-10">
                                21
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>health_and_safety</mat-icon>
                            </div>
                            <div class="col-md-10">
                                Checkup
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-3" style="text-align:center">
                                <a routerLink=""><button mat-raised-button class="profile">Pay Now</button></a>
                                <a routerLink=""><button mat-raised-button class="profile">More Details</button></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="pure-material-checkbox">
                                    <input type="checkbox">
                                    <span>Select to Compare Now</span>
                                  </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>