<section class="package">
    <div class="package-page">
        <div class="section-title">
            <h2>Packages</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
        <div class="package-box">
            <div class="row">
                <div class="col-md-4 mb" *ngFor="let item of testData">
                    <div class="packages-box">
                        <p class="heading">{{item?.service_name}}</p>
                        <div class="package-content"><i class="fa fa-inr" aria-hidden="true"> {{item?.price}}</i></div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>flatware</mat-icon>
                            </div>
                            <div class="col-md-10" *ngIf="item?.service_preperation !== ''">
                                {{item?.service_preperation}}
                            </div>
                            <div class="col-md-10" *ngIf="item?.service_preperation === ''">
                                N/A
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>calendar_today</mat-icon>
                            </div>
                            <div class="col-md-10">
                                {{item?.ReportTimeInDays}}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 mt-3" style="text-align:center">
                                <a><button mat-raised-button class="profile" (click)="book(item)">Book Now</button></a>
                                <a *ngIf="item?.Package === 'Y'"><button mat-raised-button class="profile" (click)="packageDetails(item)">More Details</button></a>
                            </div>
                        </div>
                        <div class="row">
                           
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
</section>