.buttons{
    background:#689F38!important;
    /* margin-right: 10px; */
    border:none;
    color:#fff!important;
    border-radius: 5px;
    width:100%;
  }

a {
    cursor: pointer;
    color: #689F38;
    text-decoration: none;
    margin-bottom: 5px;
}
.passW {
    padding-top: 3px;
}