<section class="service-page">
    <div class="container">
        <div class="contact">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h2>Book Appointment</h2>
                </div>
            </div>
          </div>
            
        </div>
        <div class="form_wrapper">
            <div class="row">
                <div class="col-md-12">
                    <img src="assets/img/doctor.jpg" class="doctor"/>
                    <ul class="doctor-inner">
                        <li class="doctor-detail">Dr A.K. Jain</li>
                        <li>Diabetologist / Endocrinologist</li>
                        <li>MBBS</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <form>
                        <div class="container login">
                                <div class="form-group">
                                    <div class="select">
                                        <select class="select-text" required>
                                            <option value="" disabled selected></option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                        <label class="select-label">Select Date</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="select">
                                        <select class="select-text" required>
                                            <option value="" disabled selected></option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                        <label class="select-label">Select Time</label>
                                    </div>
                                </div>
                                <button class="btn btn-success btn-block" type="submit">Book</button>
                            </div>
                    </form>
                
                </div>
                <div class="col-md-5 contact_right_side">
                    <div class="row">
                        <div class="col-md-1"><mat-icon>location_on</mat-icon></div>
                        <div class="col-md-11">
                            <p>Saltlake</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"><mat-icon>schedule</mat-icon></div>
                        <div class="col-md-11">
                            <p>10:30 AM To 12:00 PM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"><mat-icon>calendar_today</mat-icon></div>
                        <div class="col-md-11">
                            <p>Monday, Tuesday, Wednesday, Thursday, Friday, Saturday.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"><mat-icon>payments</mat-icon></div>
                        <div class="col-md-11">
                            <p>Rs. 600/-</p>
                        </div>
                    </div>
                   </div>
            </div>
        </div>
      </div>
    </section> 


