.form_wrapper{
    width: 900px;
}
.doctor-inner{
    padding: 0px;
    list-style-type: none;
    text-align: center;
    color: #000;
}
.doctor-detail{
    font-size: 18px;
    font-weight: bold;
}
.contact_right_side{
    padding: 0px 20px;
}