.heading {
    color: #000;
    font-size: 18px;
}

.doctor-box {
    height: auto;
    color: #000;
}

.doctor-inner {
    padding: 0px;
    list-style-type: none;
    text-align: center;
    color: #000;
}

.doctor-detail {
    font-size: 17px;
    font-weight: bold;
    color: #000;
}
.doctor-profile-content{
    font-size: 15px;
    color: #000;
}