.desc {
    width: 100%;
}
.userBox {
    width: 400px;
}
.pdf{
    float: right;
}
.test-name{
    height: 46px;
    /* width: 50px; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.patient-report-box{
    height: 97px;
}
.view{
    background:#689F38!important;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    /* width: 100%; */
    /* padding: 0px 25px;  */
    width: 100%;
}
.tabl{
    font-size: 12px;
}
.tabl thead {
    background-color: #689F38;
    color: #FDFDFD;
  }
  .tabl tbody tr {
    line-height: 20px;
  }
  .tabl thead tr {
    line-height: 20px;
  }