<section class="about-us">
    <div class="about-page">
        <div class="section-title">
            <h2>Overviews</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
        <div class="col-md-11 about-box">
           
              <div class="row">
                  <div class="col-md-5">
                      <div class="video">
                       <img src="assets/img/overview.jpg" class="service-img"/>
                      </div>
                  </div>
                  <div class="col-md-7">
                      <div class="about-content">
                          <p>Dr. J.P. Agarwal ( A Pioneer with over 4.5 decades of medicine practice) and Mr. Kamal Goenka (One of the city’s renowned business man for over 3 decades) founded R.B Diagnostic on the 27th February 2011.</p>
                          <p>After 8 years and 7 branches, RB Diagnostic the fastest growing diagnostic chain of East India, is headed by a highly qualified and professional management team.</p>
                      </div>
                  </div>
              </div> 
           
        </div>
</section>
