
.label{
    font-weight: bold;
    font-size:13px;
}
.colon{
    text-align: right;
}
.view-report{
    color:#689F38;
    position: relative;
    right: -42px;
}
.search{
    background:#689F38!important;
    margin-right: 10px;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    padding: 0px 25px;
    float: right
}
.bill-id{
    margin-top: 9px;
}

.heading{
    margin-bottom: 2px;
}
.patient-email{
    text-align: center;
    font-weight: bold;
}

.patient-report-box {
    height: 125px;
}
.view{
    background:#689F38!important;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    /* width: 100%; */
    padding: 0px 25px; 
    width: 100%;
}
.view1{
    background:#c9c9c9!important;
    border:none;
    color:#fff!important;
    border-radius: 5px;
    /* width: 100%; */
    padding: 0px 25px; 
    width: 100%;
}
.tabl{
    font-size: 12px;
}
.tabl thead {
    background-color: #689F38;
    color: #FDFDFD;
  }
  .tabl tbody tr {
    line-height: 20px;
  }
  .tabl thead tr {
    line-height: 20px;
  }