
.add-mem{
    margin: 4px 0px;
    color: #2d9436;
}
.add-icon{
    position: relative;
    top: 5px;
}
.labl{
    width:30%;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}
.coln{
    width:10%;
    color: #000;
}
.desc{
    width:40%;
}

.full-labl{
    width:19%;
    color: #000;
    font-weight: 500;
    font-size: 14px;
   
}
.full-coln {
    width: 5%;
    color: #000;
}
.full-desc{
    width:76%;
    font-size: 14px;
}