.buttons {
    background: #689F38!important;
    /* margin-right: 10px; */
    border: none;
    color: #fff!important;
    border-radius: 5px;
    width: 100%;
}

.book-btn {
    padding: 0px 45px;
}

.search-icon {
    position: relative;
    float: right;
    top: -29px;
    color: #689F38;
    margin-right: 10px;
}

.test-sec {
    border: 1px solid #ccc;
}

.tabl {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tabl td:nth-child(1),
.tabl th:nth-child(1) {
    min-width: 100px;
}

.tabl td:nth-child(2),
.tabl th:nth-child(2) {
    min-width: 500px;
}

.tabl td:nth-child(3),
.tabl th:nth-child(3) {
    width: 350px;
}

.tabl thead {
    background-color: #689F38;
    color: #FDFDFD;
}

.tabl thead tr {
    display: block;
    position: relative;
}

.tabl tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 230px;
}

.tabl tbody tr:nth-child(even) {
    background-color: #DDD;
}

.tabl tbody tr {
    line-height: 20px;
}

.tabl thead tr {
    line-height: 20px;
}

#selectedTest {
    text-align: left;
    border: 2px solid #ccc;
    margin-top: 20px !important;
    padding: 5px;
    max-height: 100px;
    min-height: 50px;
    overflow-y: scroll;
}

.bgC {
    background-color: rgb(135, 243, 135);
}

.mat-expansion-panel {
    margin-bottom: 15px;
}

.fa-star {
    font-size: xx-small;
}

.crossI {
    float: right;
    cursor: pointer;
}

.mat-icon {
    color: #2d9436;
    font-size: 20px;
}

.side {
    float: right;
}

tbody td label {
    margin: 0px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
}

tbody td {
    padding: 0px;
}

.mat-form-field-invalid .mat-input-element,
.mat-form-field.mat-warn .mat-input-element {
    caret-color: #0bd811 !important;
}