<section class="home-collection">
    <div class="home-collection-page" *ngIf="divVar">
        <div class="section-title">
            <h2>Home Collection</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
    <div class="col-md-11 home-collection-box">
        <form [formGroup]="homeColform" (ngSubmit)="hcCollection(Content)">
            <div class="container register">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" maxlength="10" formControlName="Mobile_no" (keyup)="detailsBymobile($event.target)">
                            <span class="borda"></span>
                            <label>Mobile No. <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.Mobile_no.invalid" class="validation">
                            <div *ngIf="getControl.Mobile_no.errors.required">Required</div>
                            <div *ngIf="getControl.Mobile_no.errors.pattern">Invalid Mobile No.</div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-10 col-xs-12 form-group" id="famClass" *ngIf="familyMemberList.length !== 0">
                        <div class="select">
                            <select class="select-text" (change)="memberChange($event.target.value)">
                                <option value="">Select Patient</option>
                                <option *ngFor="let item of familyMemberList" value="{{item.user_id}}">{{item.name}}
                                </option>
                            </select>
                            <label class="select-label">Patient Name <i class="fa fa-star req"
                                    aria-hidden="true"></i></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="FName">
                            <span class="borda"></span>
                            <label>First Name <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.FName.invalid" class="validation">
                            <div *ngIf="getControl.FName.errors.required">Required</div>
                            <div *ngIf="homeColform.get('FName').errors?.maxlength">Maximum 50 chars.</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="LName">
                            <span class="borda"></span>
                            <label>Last Name <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.LName.invalid" class="validation">
                            <div *ngIf="getControl.LName.errors.required">Required</div>
                            <div *ngIf="homeColform.get('LName').errors?.maxlength">Maximum 50 chars.</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>D.O.B. <i class="fa fa-star req" aria-hidden="true"></i></mat-label>
                            <input matInput [matDatepicker]="picker2" onkeydown="return false" formControlName="Dateofbirth" [max]="dobMax" (focus)="picker2.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="submitted && getControl.Dateofbirth.invalid" class="validation">
                            <div *ngIf="getControl.Dateofbirth.errors.required">Required.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="Email">
                            <span class="borda"></span>
                            <label>Email <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.Email.invalid" class="validation">
                            <div *ngIf="getControl.Email.errors.required">Required</div>
                            <div *ngIf="getControl.Email.errors.pattern">Email is invalid.</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" maxlength="10" formControlName="Alt_mobile_no">
                            <span class="borda"></span>
                            <label>Alt Mobile No.</label>
                        </div>
                        <div *ngIf="submitted && getControl.Alt_mobile_no.invalid" class="validation">
                            <div *ngIf="getControl.Alt_mobile_no.errors.pattern">Invalid Mobile No.</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 form-group login-radio">
                        <label for="male" class="radio">
                            <input type="radio" name="Gender" id="male" formControlName="Gender" value="M"
                                class="hidden" />
                            <span class="label"></span>Male
                        </label>

                        <label for="female" class="radio">
                            <input type="radio" name="Gender" id="female" formControlName="Gender" value="F"
                                class="hidden" />
                            <span class="label"></span>Female
                        </label>
                        <div *ngIf="submitted && getControl.Gender.invalid" class="validation">
                            <div *ngIf="getControl.Gender.errors.required">Required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 col-sm-11 col-xs-11 form-group">
                        <div class="material-textarea">
                            <textarea type="text" formControlName="Address"></textarea>
                            <div class="borda"></div>
                            <label>Address <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.Address.invalid" class="validation">
                            <div *ngIf="getControl.Address.errors.required">Required</div>
                            <div *ngIf="homeColform.get('Address').errors?.maxlength">Maximum 50 chars.</div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 form-group">
                        <mat-icon (click)="openMap(mapcontent)" style="cursor: pointer;" matTooltip="Open map">
                            location_on
                        </mat-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="landmark">
                            <span class="borda"></span>
                            <label>Landmark</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="City">
                            <span class="borda"></span>
                            <label>City</label>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" maxlength="6" formControlName="ZipCode">
                            <span class="borda"></span>
                            <label>Pincode <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.ZipCode.invalid" class="validation">
                            <div *ngIf="getControl.ZipCode.errors.required">Required</div>
                            <div *ngIf="getControl.ZipCode.errors.pattern">Invalid Pincode</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="ref_doctor">
                            <span class="borda"></span>
                            <label>Reference Doctor Name</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Appointment Date <i class="fa fa-star req" aria-hidden="true"></i></mat-label>
                            <input matInput [matDatepicker]="picker1" onkeydown="return false" formControlName="Rdate" [max]="maxDate" [min]="minDate" (focus)="picker1.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="submitted && getControl.Rdate.invalid" class="validation">
                            <div *ngIf="getControl.Rdate.errors.required">Required</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="select">
                            <select class="select-text" formControlName="Rtime" (change)=onTime($event)>
                                <option value=""></option>
                                <option *ngFor="let item of timeArr ; let i = index" value="{{item}}"> <span
                                        *ngFor="let item1 of reachTimeArr ; let j = index"><span
                                            *ngIf="i === j ">{{item}} - {{item1}}</span></span> </option>
                            </select>
                            <label class="select-label">Appointment Time <i class="fa fa-star req"
                                    aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.Rtime.invalid" class="validation">
                            <div *ngIf="getControl.Rtime.errors.required">Required.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <button mat-raised-button class="buttons" type="button" (click)="test(longContent)">Add/Update
                            Test</button>
                        <div *ngIf="submitted && getControl.services_list.invalid" class="validation">
                            <div *ngIf="getControl.services_list.errors.required">Selection is required.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" *ngIf="serviceNameArr.length !== 0">
                            <div class="col-md-6"><span>Selected Test : {{serviceArr.length}}</span></div>
                            <div class="col-md-6">Total Price: {{price}}</div>
                        </div>
                    </div>

                    <div class="col-md-3" style="text-align: right;">
                        <button mat-raised-button class="buttons book-btn" type="submit"> Proceed</button>
                    </div>
                </div>
            </div>
        </form>


    </div>
    <ng-template #longContent let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Test Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" #searchVal placeholder="Search by Name" [(ngModel)]="name" (keyup)="search()">
                <!-- <ng-select class="" [items]="partList" bindValue="partId" bindLabel="partDescription" placeholder="Select Part" (change)="searchByPart($event)">
                    </ng-select> -->
                <mat-icon class="search-icon">search</mat-icon>
            </div>
            <div class="tab">
                <table class="table table-striped tabl">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Test Name</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i = index ; let item of testData | filter: data ">
                            <td [ngClass]="toggleCheckBox(item.service_id) ? 'bgC' : '' ">
                                <label for="{{item.service_id}}">
                                    <input type="checkbox" id="{{item.service_id}}"
                                        [checked]="toggleCheckBox(item.service_id)"
                                        (change)="selectTest(item.service_id , item, item.price , $event.target, i)">
                                </label>
                            </td>
                            <td [ngClass]="toggleCheckBox(item.service_id) ? 'bgC' : '' ">
                                <label for="{{item.service_id}}">
                                    {{item.service_name}} &nbsp; <mat-icon *ngIf="item.Package === 'Y'"
                                        (click)="detailsPackage(item, PackageTestContent)">visibility</mat-icon>
                                </label>
                            </td>
                            <td [ngClass]="toggleCheckBox(item.service_id) ? 'bgC' : '' " for="{{item.service_id}}">
                                <label for="{{item.service_id}}">{{item.price}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5 for="" *ngIf="serviceNameArr.length !== 0">Selected Test List({{serviceNameArr.length}}) <span class="side" *ngIf="serviceNameArr.length !== 0"> <strong>Total Price(Rs.) :</strong>
                    {{price}}</span></h5>

            <div id="selectedTest" *ngIf="serviceNameArr.length !== 0">
                <!-- <div *ngFor="let item of serviceNameArr">
                    {{item.service_name}} <span class="material-icons crossI" (click)="removeData(item)">close</span>
                </div> -->
                <mat-chip-list class="example-chip">
                    <mat-chip *ngFor="let item of serviceNameArr">
                        {{item.service_name}}
                        <mat-icon matChipRemove (click)="removeData(item)">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>

        </div>
        <div class="modal-footer">
            <button mat-raised-button class="buttons book-btn" type="button" *ngIf="serviceNameArr.length !== 0" (click)="modal.close('Close click')"> Proceed</button>
        </div>
    </ng-template>

    <!-- for showing msg -->

    <ng-template #Content let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Booking SuccessFully</h5>
            <button type="button" class="close" aria-label="Close" (click)="closeSms()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <p> Home Collection Booking Completed Successfully for {{patientName}}.</p>
                <strong>Dated : {{appointmentDate}} at Schedule location {{locationofPatioent}} in between
                        {{appointmentTime}} and your Appointment Id Is {{appointmentId}} </strong>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" mat-raised-button class="book-btn" (click)="closeSms()">Ok </button>
        </div>
    </ng-template>


    <ng-template #PackageTestContent let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Test Details</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <mat-accordion *ngFor="let item of packageReqDAta">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{item?.Test_name}}
                        </mat-panel-title>
                        <!-- <mat-panel-description>
                           
                         </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    Department : {{item?.Department}}
                </mat-expansion-panel>
            </mat-accordion>

        </div>
        <div class="modal-footer">
            <button mat-raised-button class="buttons book-btn" type="submit" (click)="modal.dismiss('Cross click')"> Close</button>
        </div>
    </ng-template>

    <ng-template #mapcontent let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Pin Address</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <agm-map style="height: 200px;" [latitude]="latitude" [longitude]="longitude" (mapReady)="mapReadyHandler($event)">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
        </div>
        <div class="modal-footer">
            <button mat-raised-button class="buttons book-btn" type="submit" (click)="modal.dismiss('Cross click')">
                Close</button>
        </div>
    </ng-template>
</section>