/* html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #6F8BA4;
    font-weight: 400;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #e12454;
}

.header-top-bar {
    width: 100%;
    position: relative;
    background-color: #2d9436;
} */