<section class="member">
    <div class="member-page">
        <div class="section-title">
            <h2>{{title}}</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
    <div class="col-md-11 member-box">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="container register">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="Mobile_no" required maxlength="10" disabled>
                            <span class="borda"></span>
                            <!-- <label>Mobile No. *</label> -->
                        </div>
                        <div *ngIf="submitted && getControl.Mobile_no.invalid" class="validation">
                            <div *ngIf="getControl.Mobile_no.errors.required">Required.</div>
                            <div *ngIf="getControl.Mobile_no.errors.pattern">Invalid Mobile No.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="FName" required>
                            <span class="borda"></span>
                            <label>First Name  <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.FName.invalid" class="validation">
                            <div *ngIf="getControl.FName.errors.required">Required.</div>
                            <div *ngIf="userForm.get('FName').errors?.maxlength">Maximum 50 chars.</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="LName" required>
                            <span class="borda"></span>
                            <label>Last Name  <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.LName.invalid" class="validation">
                            <div *ngIf="getControl.LName.errors.required">Required.</div>
                            <div *ngIf="userForm.get('LName').errors?.maxlength">Maximum 50 chars.</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>D.O.B. <i class="fa fa-star req" aria-hidden="true"></i></mat-label>
                            <input matInput [matDatepicker]="picker1" onkeydown="return false" formControlName="Dateofbirth"
                                [max]="maxDate" (focus)="picker1.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="submitted && getControl.Dateofbirth.invalid" class="text-danger">
                            <div *ngIf="getControl.Dateofbirth.errors.required">DOB is required.</div>
                        </div>
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="Email" required>
                            <span class="borda"></span>
                            <label>Email <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.Email.invalid" class="validation">
                            <div *ngIf="getControl.Email.errors.required">Required.</div>
                            <div *ngIf="getControl.Email.errors.pattern">Email is invalid.</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="Alt_mobile_no" maxlength="10">
                            <span class="borda"></span>
                            <label>Alternate Mobile No.</label>
                        </div>
                        <div *ngIf="submitted && getControl.Alt_mobile_no.invalid" class="validation">
                            <div *ngIf="getControl.Alt_mobile_no.errors.pattern">Invalid Mobile No.</div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 form-group login-radio">
                        <label for="male" class="radio">
                            <input type="radio" name="Gender" value="M" formControlName="Gender" id="male"  class="hidden" />
                            <span class="label"></span>Male
                        </label>

                        <label for="female" class="radio">
                            <input type="radio" name="Gender" value="F" formControlName="Gender" id="female"  class="hidden" />
                            <span class="label"></span>Female
                        </label>
                        <div *ngIf="submitted && getControl.Gender.invalid" class="validation">
                            <div *ngIf="getControl.Gender.errors.required">Required.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="material-textarea">
                            <textarea type="text" formControlName="Address" required></textarea>
                            <div class="borda"></div>
                            <label>Address  <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.Address.invalid" class="validation">
                            <div *ngIf="getControl.Address.errors.required">Required.</div>
                            <div *ngIf="userForm.get('Address').errors?.maxlength">Maximum 50 chars.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="Landmark">
                            <span class="borda"></span>
                            <label>Landmark</label>
                        </div>
                        <div *ngIf="userForm.get('Landmark').errors?.maxlength">Maximum 50 chars.</div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="City">
                            <span class="borda"></span>
                            <label>City</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="ZipCode" maxlength="6">
                            <span class="borda"></span>
                            <label>Pincode  <i class="fa fa-star req" aria-hidden="true"></i></label>
                        </div>
                        <div *ngIf="submitted && getControl.ZipCode.invalid" class="validation">
                            <div *ngIf="getControl.ZipCode.errors.required">Required.</div>
                            <div *ngIf="getControl.ZipCode.errors.pattern">Invalid Pincode</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                        <div class="material">
                            <input type="text" formControlName="State">
                            <span class="borda"></span>
                            <label>State</label>
                        </div>
                    </div>
                 </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button mat-raised-button class="buttons" type="submit"> Submit</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </form>


    </div>
    

  

    
   
</section>