<div class="packages-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Our Packages</h2>
                </div>
            </div>
        </div>
        <mat-accordion *ngFor="let item of serviceReqDAta">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item?.Test_name}}
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                   
                 </mat-panel-description> -->
                </mat-expansion-panel-header>
                Department : {{item?.Department}}
            </mat-expansion-panel>
        </mat-accordion>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="packages-box">
                    <p class="heading">RBD healthy life</p>
                    <div class="package"><i class="fa fa-inr" aria-hidden="true"> 6300</i></div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-1">
                                    <mat-icon>science</mat-icon>
                                </div>
                                <div class="col-md-11">
                                    Checkup
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <mat-icon>flatware</mat-icon>
                                </div>
                                <div class="col-md-11">
                                    Overnight fasting required, please drink 500 ml of water before coming. Be prepare to spend 3-4 hours as this package includes Bloodwork, X-ray, USG, Echo and ECG
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <mat-icon>calendar_today</mat-icon>
                                </div>
                                <div class="col-md-11">
                                    Daily
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <mat-icon>settings_input_component</mat-icon>
                                </div>
                                <div class="col-md-11">
                                    27
                                </div>
                            </div>

                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <p>RBD Healthy Life is the most comprehensive health package which includes heart, Kidney, liver, chest and other vital organs of our body. Moreover unlike other online packages this includes bloodwork, Ultrasonography (USG Whole
                                Abdomen), Xray and ECG.<br><br> his package includes full thyroid panel (T3,T4 and TSH) and vital vitamins (B12 and D3).</p>
                        </div>
                    </div>
                    <p class="heading">Package Details</p>
                    <p class="heading" style="text-align: left;">Profile/Component</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <a>
                                    <li>Complete HaemoGram</li>
                                </a>
                                <a>
                                    <li>Urine RE</li>
                                </a>
                                <a>
                                    <li>Urea/li></a>
                                <a>
                                    <li>Uric Acid</li>
                                </a>
                                <a>
                                    <li>Blood Group (A, B</li>
                                </a>
                                <a>
                                    <li>Lipid Profile</li>
                                </a>
                                <a>
                                    <li>USG Abdomen Whole</li>
                                </a>
                                <a>
                                    <li>ECG</li>
                                </a>
                                <a>
                                    <li>ALP (Alkaline Phosphatase)</li>
                                </a>
                                <a>
                                    <li>Bilirubin Total</li>
                                </a>
                                <a>
                                    <li>T3</li>
                                </a>
                                <a>
                                    <li>Vitamin D, 25 hydroxy</li>
                                </a>
                                <a>
                                    <li>PSA (Prostate Specific Antigen)</li>
                                </a>
                                <a>
                                    <li>Echocardioghaphy</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <a>
                                    <li>Glucose Fasting (Plasma )</li>
                                </a>
                                <a>
                                    <li>SGPT/ALT</li>
                                </a>
                                <a>
                                    <li>Creatinine</a>
                                <a>
                                    <li>Total Protein</li>
                                </a>
                                <a>
                                    <li>Calcium</li>
                                </a>
                                <a>
                                    <li>TSH (Thyroid Stimulating Hormone) - Serum</li>
                                </a>
                                <a>
                                    <li>X-Ray Chest PA View</li>
                                </a>
                                <a>
                                    <li>SGOT/AST</li>
                                </a>
                                <a>
                                    <li>VDRL- Rapid Test for Syphilis</li>
                                </a>
                                <a>
                                    <li>Vitaminn B12</li>
                                </a>
                                <a>
                                    <li>T4</li>
                                </a>
                                <a>
                                    <li>PAP Smear</li>
                                </a>
                                <a>
                                    <li>Doctor`s Fee (600)</li>
                                </a>
                            </ul>
                        </div>
                    </div> -->
        <!-- if required in future -->
        <!-- <div class="row">
                        <div class="col-md-12 mt-3" style="text-align:center">
                            <a routerLink="/pages/payment"><button mat-raised-button class="profile">Book Now</button></a>
                        </div>
                    </div> -->
        <!-- if required in future  -->
        <!-- </div>
            </div>
        </div> -->
    </div>
</div>