<section class="home">
    <!-- <img src="assets/img/banner-1.jpg"> -->
    <!-- <div class="container banner-content"> -->
    <ngb-carousel *ngIf="bannerInfo" [interval]="4000" [wrap]="true" [pauseOnHover]="false" [pauseOnFocus]="false">
        <ng-template ngbSlide *ngFor="let image of bannerInfo">
            <div class="picsum-img-wrapper">
                <img class="bannerImg" [src]="image.BannerUrl" alt="Random first slide">
            </div>
            <!-- <div class="carousel-caption">
              <h3>{{image.BannerName}}</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div> -->
        </ng-template>
    </ngb-carousel>
    <!-- </div> -->
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="feature-block d-lg-flex">

                    <div class="feature-item mb-5 mb-lg-0" [routerLink]="['/pages/home-collection']" routerLinkActive="router-link-active">
                        <div class="feature-icon mb-4">
                            <mat-icon aria-hidden="false" class="banner-icon">bloodtype</mat-icon>
                        </div>
                        <h4 class="mb-3">Home Collection</h4>
                    </div>

                    <div class="feature-item mb-5 mb-lg-0" [routerLink]="['/pages/rate-chart']" routerLinkActive="router-link-active">
                        <div class="feature-icon mb-4">
                            <mat-icon aria-hidden="false" class="banner-icon">payment</mat-icon>
                        </div>
                        <h4 class="mb-3">Lab Test
                        </h4>
                    </div>
                    <div class="feature-item mb-5 mb-lg-0" [routerLink]="['/pages/report']" routerLinkActive="router-link-active">
                        <div class="feature-icon mb-4">
                            <mat-icon aria-hidden="false" class="banner-icon">description</mat-icon>
                        </div>
                        <h4 class="mb-3">View Report</h4>
                    </div>

                    <div class="feature-item mb-5 mb-lg-0">
                        <div class="feature-icon mb-4">
                            <mat-icon aria-hidden="false" class="banner-icon">book_online</mat-icon>
                        </div>
                        <h4 class="mb-3">Doctor Appointment</h4>
                    </div>
                    <!-- <div class="feature-item mb-5 mb-lg-0" routerLink="/pages/enquiry">
                        <div class="feature-icon mb-4">
                            <mat-icon aria-hidden="false" class="banner-icon">contact_support</mat-icon>
                        </div>
                        <h4 class="mb-3">Enquiry</h4>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section appoinment">
    <div class="container">
        <div class="tabs">
            <div class="tab-2">
                <label for="tab2-2">Home Collection</label>
                <input id="tab2-2" name="tabs-two" type="radio" checked="checked">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="appoinment-content">
                                <img src="../../website/assets/img/hc.jpg" alt="" class="img-fluid">
                                <div class="emergency">
                                    <h5>
                                        <mat-icon aria-hidden="false">call</mat-icon>+91 98300 65859
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="appoinment-wrap mt-5">
                                <app-home-collection></app-home-collection>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-2">
                <label for="tab2-1">Doctor Appointment</label>
                <input id="tab2-1" name="tabs-two" type="radio">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-9">
                            <div class="appoinment-wrap mt-5">
                                <div class="col-md-11 appointment-box">
                                    <form [formGroup]="searchDoctor" (ngSubmit)="doctorSearch()">
                                        <div class="">

                                            <div class="row mb">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="select">
                                                        <select class="select-text" formControlName="center_id">
                                                            <option value=""></option>
                                                            <option *ngFor="let item of branchist"
                                                                value="{{item.center_id}}">{{item.center_name}}</option>
                                                        </select>
                                                        <label class="select-label">Center</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="select">
                                                        <select class="select-text" formControlName="area_id">
                                                            <option value="" selected></option>
                                                            <option *ngFor="let item of areaList" value="{{item.area_id}}">
                                                                {{item.Area}}</option>
                                                        </select>
                                                        <label class="select-label">Area</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="select">
                                                        <select class="select-text" formControlName="specialization_id">
                                                            <option value="" selected></option>
                                                            <option *ngFor="let item of DepartmentSpecialityList"
                                                                value="{{item.specialization_id}}">{{item.specialization}}
                                                            </option>
                                                        </select>
                                                        <label class="select-label">Department</label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="material">
                                                        <input type="text" formControlName="search_key">
                                                        <span class="borda"></span>
                                                        <label class="nameLabel">Doctor Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label class="pure-material-checkbox">
                                                        <input type="checkbox">
                                                        <span>Home Visit</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mt-2" style="text-align:center">
                                                    <button mat-raised-button class="search" type="submit">Search</button>
                                                    <button mat-raised-button class="refresh" type="reset">Reset</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="appoinment-content">
                                <img src="../../website/assets/img/about-img3.jpg" alt="" class="img-fluid">
                                <div class="emergency">
                                    <h5>
                                        <mat-icon aria-hidden="false">call</mat-icon>+91 98300 65859
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="section about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-6">
                <div class="about-img">
                    <img src="../../website/assets/img/about-img1.jpg" alt="" class="img-fluid">
                    <img src="../../website/assets/img/about-img2.jpg" alt="" class="img-fluid mt-4">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="about-img mt-4 mt-lg-0">
                    <img src="../../website/assets/img/about-img3.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-content pl-4 mt-4 mt-lg-0">
                    <h2 class="title-color">Personal care <br>& healthy living</h2>
                    <p class="mt-4 mb-5">We provide best leading medicle service Nulla perferendis veniam deleniti ipsum officia dolores repellat laudantium obcaecati neque.</p>

                    <a href="javascript:void(0)" [routerLink]="['/services']" routerLinkActive="router-link-active" class="btn btn-main-2 btn-round-full btn-icon">Services<mat-icon aria-hidden="false"
                            class="button-icon">chevron_right</mat-icon></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta-section ">
    <div class="container">
        <div class="cta position-relative">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-stat">
                        <i class="icofont-doctor"></i>
                        <span class="h3">58</span>k
                        <p>Happy People</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-stat">
                        <i class="icofont-flag"></i>
                        <span class="h3">700</span>+
                        <p>Diagnostic Done</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-stat">
                        <i class="icofont-badge"></i>
                        <span class="h3">40</span>+
                        <p>Expert Doctors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-stat">
                        <i class="icofont-globe"></i>
                        <span class="h3">07</span>
                        <p>Center</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section service gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>Offer/Packages</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-none d-lg-block">
                            <div class="slide-box">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="icon d-flex">
                                            <i class="fa fa-inr">6300</i>
                                            <h5 class="">RBD Healthy Life</h5>
                                        </div>
                                        <div class="content">
                                            <ul class="packages">
                                                <li><span>Pre Test Info :</span>Overnight fasting required, please drink
                                                    500 ml of water before coming. Be prepare to spend 3-4 hours as this
                                                    package includes Bloodwork, X-ray, USG, Echo and ECG</li>
                                                <li><span>Report Delivery :</span>Daily</li>
                                                <li><span>Componets Total :</span>27</li>
                                                <li><span>Checkup :</span>Checkup</li>

                                            </ul>
                                            <div class="row">
                                                <div class="but">
                                                    <button class="btn btn-primary">Pay Now</button>
                                                    <button class="btn btn-primary">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="icon d-flex">
                                            <i class="fa fa-inr">3900</i>
                                            <h5 class="">RBD healthy life (Blood & Urine)</h5>
                                        </div>
                                        <div class="content">
                                            <ul class="packages">
                                                <li><span>Pre Test Info :</span>Overnight fasting required, please drink
                                                    500 ml of water before coming. Be prepare to spend 3-4 hours as this
                                                    package includes Bloodwork, X-ray, USG, Echo and ECG</li>
                                                <li><span>Report Delivery :</span>Same</li>
                                                <li><span>Componets Total :</span>27</li>
                                                <li><span>Checkup :</span>Checkup</li>

                                            </ul>
                                            <div class="row">
                                                <div class="but">
                                                    <button class="btn btn-primary">Pay Now</button>
                                                    <button class="btn btn-primary">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="icon d-flex">
                                            <i class="fa fa-inr">4800</i>
                                            <h5 class="">Executive health check-up</h5>
                                        </div>
                                        <div class="content">
                                            <ul class="packages">
                                                <li><span>Pre Test Info :</span>Overnight fasting required, please drink
                                                    500 ml of water before coming. Be prepare to spend 3-4 hours as this
                                                    package includes Bloodwork, X-ray, USG, Echo and ECG</li>
                                                <li><span>Report Delivery :</span>Daily</li>
                                                <li><span>Componets Total :</span>20</li>
                                                <li><span>Checkup :</span>Checkup</li>

                                            </ul>
                                            <div class="row">
                                                <div class="but">
                                                    <button class="btn btn-primary">Pay Now</button>
                                                    <button class="btn btn-primary">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>



                    </div>
                    <div class="carousel-item">
                        <div class="d-none d-lg-block">
                            <div class="slide-box">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="icon d-flex">
                                            <i class="fa fa-inr">6300</i>
                                            <h5 class="">RBD Healthy Life</h5>
                                        </div>
                                        <div class="content">
                                            <ul class="packages">
                                                <li><span>Pre Test Info :</span>Overnight fasting required, please drink
                                                    500 ml of water before coming. Be prepare to spend 3-4 hours as this
                                                    package includes Bloodwork, X-ray, USG, Echo and ECG</li>
                                                <li><span>Report Delivery :</span>Daily</li>
                                                <li><span>Componets Total :</span>27</li>
                                                <li><span>Checkup :</span>Checkup</li>

                                            </ul>
                                            <div class="row">
                                                <div class="but">
                                                    <button class="btn btn-primary">Pay Now</button>
                                                    <button class="btn btn-primary">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="icon d-flex">
                                            <i class="fa fa-inr">6300</i>
                                            <h5 class="">RBD Healthy Life</h5>
                                        </div>
                                        <div class="content">
                                            <ul class="packages">
                                                <li><span>Pre Test Info :</span>Overnight fasting required, please drink
                                                    500 ml of water before coming. Be prepare to spend 3-4 hours as this
                                                    package includes Bloodwork, X-ray, USG, Echo and ECG</li>
                                                <li><span>Report Delivery :</span>Daily</li>
                                                <li><span>Componets Total :</span>27</li>
                                                <li><span>Checkup :</span>Checkup</li>

                                            </ul>
                                            <div class="row">
                                                <div class="but">
                                                    <button class="btn btn-primary">Pay Now</button>
                                                    <button class="btn btn-primary">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="icon d-flex">
                                            <i class="fa fa-inr">6300</i>
                                            <h5 class="">RBD Healthy Life</h5>
                                        </div>
                                        <div class="content">
                                            <ul class="packages">
                                                <li><span>Pre Test Info :</span>Overnight fasting required, please drink
                                                    500 ml of water before coming. Be prepare to spend 3-4 hours as this
                                                    package includes Bloodwork, X-ray, USG, Echo and ECG</li>
                                                <li><span>Report Delivery :</span>Daily</li>
                                                <li><span>Componets Total :</span>27</li>
                                                <li><span>Checkup :</span>Checkup</li>

                                            </ul>
                                            <div class="row">
                                                <div class="but">
                                                    <button class="btn btn-primary">Pay Now</button>
                                                    <button class="btn btn-primary">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="d-block d-sm-none">
                            <img class="d-block w-100" src="https://picsum.photos/600/400/?image=1&random"
                                alt="Second slide">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> -->
            <!-- <ngb-carousel *ngIf="testData" [interval]="4000" [wrap]="true" [pauseOnHover]="true" [pauseOnFocus]="true">
                <ng-template ngbSlide *ngFor="let item of testData">
                            <div class=""  style="border: 1px solid #000; width:200px;">
                                <div class="packages-box">
                                    <p class="heading overflow-tip test"><span>{{item?.service_name}}</span></p>
                                    <div class="package-content"><i class="fa fa-inr" aria-hidden="true"> {{item?.price}}</i></div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-icon matTooltip="Test Preparation">flatware</mat-icon>
                                        </div>
                                        <div class="col-md-10" *ngIf="item?.service_preperation !== ''">
                                            <p overflow-tip test><span>{{item?.service_preperation}}</span></p>
                                        </div>
                                        <div class="col-md-10" *ngIf="item?.service_preperation === ''">
                                            N/A
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-icon matTooltip="Report Times(Days)">calendar_today</mat-icon>
                                        </div>
                                        <div class="col-md-10">
                                            <p>{{item?.ReportTimeInDays}}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12 mt-2" style="text-align:center">
                                             <a *ngIf="item?.Package === 'Y'"><button mat-raised-button class="profile mb-2 more" (click)="packageDetails(item)">More Details</button></a>
                                            <a><button mat-raised-button class="profile" (click)="book(item)">Book Now</button></a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                </ng-template>
            </ngb-carousel> -->
            <!-- <div class="row" *ngFor="let i = index ; let item of testData">
                <div class="col-md-2 mb box" *ngIf="i < 5">
                    <div class="packages-box">
                        <p class="heading overflow-tip test"><span>{{item?.service_name}}</span></p>
                        <div class="package-content"><i class="fa fa-inr" aria-hidden="true"> {{item?.price}}</i></div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon matTooltip="Test Preparation">flatware</mat-icon>
                            </div>
                            <div class="col-md-10" *ngIf="item?.service_preperation !== ''">
                                <p overflow-tip test><span>{{item?.service_preperation}}</span></p>
                            </div>
                            <div class="col-md-10" *ngIf="item?.service_preperation === ''">
                                N/A
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon matTooltip="Report Times(Days)">calendar_today</mat-icon>
                            </div>
                            <div class="col-md-10">
                                <p>{{item?.ReportTimeInDays}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mt-2" style="text-align:center">
                                <a *ngIf="item?.Package === 'Y'"><button mat-raised-button class="profile mb-2 more"
                                        (click)="packageDetails(item)">More Details</button></a>
                                <a><button mat-raised-button class="profile" (click)="book(item)">Book Now</button></a>
                            </div>
                        </div>

                    </div>
                </div>
               
            </div> -->
        </div>
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let item of testData">
                <ng-template class="slide" carouselSlide [id]="item.service_id">
                    <!-- <div class="row"> -->
                    <!-- <div class="col-md-4"> -->
                    <div class="packages-box hpage">
                        <p class="heading overflow-tip test"><span>{{item?.service_name}}</span></p>
                        <div class="package-content"><i class="fa fa-inr" aria-hidden="true"> {{item?.price}}</i></div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon matTooltip="Test Preparation">flatware</mat-icon>
                            </div>
                            <div class="col-md-10" *ngIf="item?.service_preperation !== ''">
                                <p overflow-tip test><span>{{item?.service_preperation}}</span></p>
                            </div>
                            <div class="col-md-10" *ngIf="item?.service_preperation === ''">
                                N/A
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon matTooltip="Report Times(Days)">calendar_today</mat-icon>
                            </div>
                            <div class="col-md-10">
                                <p>{{item?.ReportTimeInDays}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mt-2" style="text-align:center">
                                <a *ngIf="item?.Package === 'Y'"><button mat-raised-button class="profile mb-2 more" (click)="packageDetails(item)">More Details</button></a>
                                <a><button mat-raised-button class="profile" (click)="book(item)">Book Now</button></a>
                            </div>
                        </div>

                    </div>
                    <!-- </div> -->
                    <!-- </div> -->

                </ng-template> &nbsp;&nbsp;&nbsp;&nbsp;
            </ng-container>

        </owl-carousel-o>

    </div>
</section>

<section class="section testimonial-2 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <h2>We served over 5000+ Patients</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
                </div>
            </div>
        </div>
        <!-- <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-none d-lg-block">
                            <div class="slide-box">
                                <div class="card testimonial" *ngFor="let item of notification">
                                    <div class="card-body">
                                        <div class="icon d-flex">
                                            <img src="{{item.Notification_Image}}" alt="" class="img-fluid">
                                            <ul class="test-desc">
                                                <li>
                                                    <h4>{{item.Notification_Title}}</h4>
                                                </li>
                                                <li><span>{{item.Event_Date | date: 'mediumDate'}}</span></li>
                                            </ul>
                                        </div>
                                        <div class="client-info ">

                                            <p>
                                                {{item.Notification_Body}}
                                            </p>
                                            <mat-icon aria-hidden="false" class="quote">format_quote</mat-icon>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> -->
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let item of notification">
                <ng-template class="slide" carouselSlide [id]="item.NotificationId">
                    <div class="card testimonial hpage">
                        <div class="card-body">
                            <div class="icon d-flex">
                                <img src="{{item.Notification_Image}}" alt="" class="img-fluid">
                                <ul class="test-desc">
                                    <li>
                                        <h4>{{item.Notification_Title}}</h4>
                                    </li>
                                    <li><span>{{item.Event_Date | date: 'mediumDate'}}</span></li>
                                </ul>
                            </div>
                            <div class="client-info ">

                                <p>
                                    {{item.Notification_Body}}
                                </p>
                                <mat-icon aria-hidden="false" class="quote">format_quote</mat-icon>
                            </div>
                        </div>
                    </div>

                </ng-template>
            </ng-container>

        </owl-carousel-o>
    </div>


</section>