<section class="service-page">
    <div class="container">
        <div class="service">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Quality Control</h2>
                    </div>
                    <div class="para" *ngFor="let item of AllpageContent">
                        <section innerHTML='{{item.PageContent}}'></section>
                    </div>
                    <!-- <div class="para">
                    <p><span class="quote">“Quality is not an Act it is a Habit” --- Aristotle</span><br>At RB Diagnostic quality is a way of life right from its inception. In fact the need for quality diagnostic and medical care were the key drivers to the launch of RB. Quality at RB is a combination of  </p>
                        <ul class="quality">
                            <li>Accuracy of Test Reports</li>
                            <li>Speed of Delivery of Reports</li>
                            <li>Value added Services</li>
                        </ul>
                       <p> The expertise of its founders and the commitment to quality is evident from the stringent quality control programs that have been instituted in association with BIO-RAD, RANDOX, AIIMS, VELLORE and executed by a team of highly skilled and trained technicians under the guidance of experienced pathologists, Biochemists & Microbiologist. Our NABL accreditation (Certificate MC-2437) certified tests are committed to provide Quality reports to all our clients at all times.
                  </p> -->
                </div>
            </div>
        </div>
        <!-- <mat-accordion>
               <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Accuracy of Test Reports
                    </mat-panel-title> -->
        <!-- <mat-panel-description>
                      
                    </mat-panel-description> -->
        <!-- </mat-expansion-panel-header>
                  Our Quality Control policy has two mechanisms to ensure a zero tolerance to error.
                  <ul class="quality">
                    <li>Internal Control</li>
                    <li>External Control</li>
                </ul>
                <p class="quote">Internal Control Mechanism</p>
                <ul class="qualityInner">
                    <li class="quote">Zero error machine test </li>
                    <li>All equipment’s at RB is subject to stringent quality checks. There is regulatory daily check by the internal technicians and periodical maintenance check by AMC providers in accordance to NABL standard’s.</li>
                    <li class="quote">Global Standard Sample expectation test </li>
                    <li>We ensure global standard accuracy in our test reports with our internal quality tests on “controls”. These are tests done on samples where parameters have been predefined and we run these tests on machines on a regular basis to check the accuracy of the machines.</li>
                    <li class="quote">Machine Level parameter check </li>
                    <li>“Ruling out errors” has been the mantra of RB quality success; we are one of the few labs to have multi parameter checks on samples and machines to test the accuracy of machines at different parameter levels within a short span of time. This ensures that the machine performs well in the entire dynamic range.</li>
                </ul>
                <p class="quote">External Control Mechanism</p>
                <ul class="qualityInner">
                    <li class="quote">External Quality Control Programs </li>
                    <li>RB Diagnostic participates in several External Quality Control Programs (EQAS - organized by Biorad and Randox) as an additional tool to ensure the quality of our pathology reports.<br><br>Samples with unknown results are distributed by manufacturers to the participating laboratories. Once the participants analyze the samples and send the results back, these results are processed in order to establish the possible deviation of each laboratory. The results are returned to the participants for assessment.<br><br>EQAS results motivates us to investigate factors to improve our overall performance (machines, methods, process flow, staff...etc). It also acts as stimulus to improvement in performance.</li>
                    <li class="quote">Inter-lab result verification </li>
                    <li>A inter laboratory comparison consists in testing the same samples by different laboratories and in comparing the results. A inter laboratory comparison consists in testing the same samples by different laboratories and assessing the same with in house results. RB Diagnostic has tied up with other recognized labs like Dr Lal path, Apollo Clinic, Metropolis...etc</li>
                    <li class="quote">Inter-machine verification </li>
                    <li>Inter machine verification driven by our software LIS (Lab Information system) is probably the best mechanism for patient samples with abnormal values.<br><br>Our LIS instructs the back machine to automatically process such abnormal test results for a second verification to avoid any scope of error in readings. The report from both the machines are then sent to the consulting physician for a clearer diagnosis.</li>
                    <li class="quote">Change of Lot verification</li>
                    <li>This verification mechanism uses different lots of Reagents to perform tests on the same set of samples for ensuring accurate reports. This test is conducted in regular intervals to ensure high level of accuracy in our reports.</li>
                </ul>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                   <mat-expansion-panel-header>
                     <mat-panel-title>
                        Speed of Delivery of Reports
                     </mat-panel-title> -->
        <!-- <mat-panel-description>
                       
                     </mat-panel-description> -->
        <!-- </mat-expansion-panel-header>
                   At RB we understand the importance of faster reporting to help cure begin earlier. Our report delivery TAT are the best in the industry backed with our record breaking urgent report request facility that ensure our customers have minimum lag time in their consultation.<br><br>Our host of process like Home collection, special request home delivery, multiple machines, automated test labs, LIS controlled test report generation, Bar coding of sampling are all factors that enhance speed and accuracy at the same time.
                 </mat-expansion-panel>
             </mat-accordion>
             <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                   <mat-expansion-panel-header>
                     <mat-panel-title>
                        Value added Services
                     </mat-panel-title> -->
        <!-- <mat-panel-description>
                       
                     </mat-panel-description> -->
        <!-- </mat-expansion-panel-header>
                   Quality is a journey not a mile stone…at RB we have gone beyond the present to ensure value addition with our Histogram charts. We also have ensured zero travel time reporting with our high resolution online reporting even for imaging based reports.<br><br>What more we are the only company that delivers your reports to your doctors inbox too at the same time along with your complete history of test reports with Rb just   in case you forgot to mention.
                 </mat-expansion-panel>
             </mat-accordion> -->

        <!-- </div> -->
    </div>
</section>