<section class="quality">
    <div class="quality-page">
        <div class="section-title">
            <h2>Quality Control</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
    <div class="col-md-11 quality-box">
        <!-- <div class="para" *ngFor="let item of AllpageContent">
                        <section innerHTML='{{item.PageContent}}'></section>
                    </div> -->
        <div class="row mb">
            <div class="col-md-12">
                <!-- <div class="para"> -->
                <h2>
                    <section innerHTML='{{header?.title}}'></section>
                </h2>
                <section innerHTML='{{header?.desc}}'></section>
                <!-- </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-accordion *ngFor="let item of AllpageContent ; let i = index">
                    <mat-expansion-panel [expanded]="i === 0" (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="margin-bottom: 18px;">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <section innerHTML='{{item?.title}}'></section>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <section innerHTML='{{item?.desc}}'></section>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</section>