<section class="service-page">
    <div class="container">
        <div class="contact">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h2>Online Payment</h2>
                </div>
            </div>
          </div>
            
        </div>
        <div class="form_wrapper">
            <div class="row">
                <div class="col-md-7">
                    <form>
                        <div class="container login">
                                <div class="form-group">
                                    <div class="material">      
                                        <input type="text"  required>
                                        <span class="borda"></span>
                                        <label> Customer Name</label>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <div class="material">      
                                        <input type="text"  required>
                                        <span class="borda"></span>
                                        <label> Mobile Number</label>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <div class="material">      
                                        <input type="email"  required>
                                        <span class="borda"></span>
                                        <label> Email ID</label>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <div class="select">
                                        <select class="select-text" required>
                                            <option value="" disabled selected></option>
                                            <option value="1">Paytm</option>
                                            <option value="2">Net Banking</option>
                                            <option value="3">Credit Card</option>
                                        </select>
                                        <label class="select-label">Payment Type</label>
                                    </div>
                                </div>
                                <button class="btn btn-success btn-block" type="submit">CheckOut</button>
                            </div>
                    </form>
                
                </div>
                <div class="col-md-5 contact_right_side">
                    <div class="row">
                        <div class="col-md-5"><p>Accession No </p></div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6">
                            <p>RBD healthy life</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"><p>Amount </p></div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6">
                            <p>6300</p>
                        </div>
                    </div>
                   
                   </div>
            </div>
        </div>
      </div>
    </section> 




